
.NewsItemTitle {
  margin-bottom: 12px;
  padding-top: 42px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1D1D1F;
  overflow: hidden;
  max-width: 100%;
}

.NewsItemTitle::before{
  content: "";
  position: absolute;
  background: url("../../assets/images/newsPage/news (1).png") 50% 50%/cover no-repeat;
  display: block;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
}

.NewsItemText {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
  word-wrap: break-word;
}
