
.NavigationItem {
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}



.NavigationItem a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color:  rgba(255, 255, 255, 0.75);
  height: 100%;
  padding-bottom: 20px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active {
  color: #FFFFFF;
}



@media screen and (min-width: 768px) {
  .NavigationItem {
    height: 100%;
  }
  .NavigationItem a{
    margin-left: 10px;
    padding: 22px 10px;
  }
}

@media screen and (min-width: 880px) {
  .NavigationItem a{
    font-size: 18px;
    padding: 22px 10px;
    margin-left: 15px;
  }
}