.btn2{
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  padding: 7px 15px;
  margin: 10px auto 0;
  color: #fff;
  background: rgba(196, 196, 196, 0.14);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0 10px 6px rgba(238, 238, 238, 0.07);
  border-radius: 10px;
}

.btn2:hover{
  background-color: #FFFFFF;
  color: #000000;
}

@media screen and (min-width: 540px) {
  .btn2{
    font-size: 14px;
    padding: 11px 22px;
    margin: 35px auto  0 0;
  }
}

@media screen and (min-width: 700px) {
  .btn2{
    font-size: 18px;
    padding: 19px 45px;
    margin-top: 35px;
  }
}